/* ======================================================================
 * ionic框架默认颜色定义
 * ======================================================================*/

$ionicons-font-path: "../lib/ionic/fonts" !default;

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #0099FF !default;
$balanced:                        #00CC33 !default;
$energized:                       #ffc900 !default;
$assertive:                       #FF0000 !default;
$royal:                           #886aea !default;

/* ======================================================================
 * 颜色定义，使用如： font-color{ color: $blue }
 * ======================================================================*/
$blue: #0099FF;
$dark-blue: #0066FF;
$green: #00CC33;
$dark-green: #009933;
$cyan: #33CC99;
$dark-cyan: #339999;
$purple: #9900FF;
$dark-purple: #660099;
$red: #FF0000;
$dark-red: #CC0000;
$yellow: #FF9900;
$orange: #FF6600;

$white: #FFFFFF;
$dark: #333333;
$dark-gray: #666666;
$gray: #999999;


/* ======================================================================
 * 字体大小
 * ======================================================================*/
$font-size-32: 32px;
$font-size-24: 24px;
$font-size-xl: 18px;
$font-size-l: 16px;
$font-size-m: 14px;
$font-size-s: 13px;
$font-size-xs: 12px;
$font-size-xxs: 10px;


/* ======================================================================
 * 边框颜色
 * ======================================================================*/
$border-f1: #f1f1f1;
$border-ddd: #ddd;
$border-eee: #eeeeee;

/* ======================================================================
 * 背景颜色
 * ======================================================================*/
$bg-f3: #f3f3f3;
